.back-ground
  背景、画像持ってくる

  .game-screen
    .game-screen__title
      .game-screen__title__english
        BoXuji
      .game-screen__title__japanese
        ぼっくすうじ

    .game-screen__quiz-lists
      .game-screen__quiz-lists__create-game.cp
        問題作成
      .game-screen__quiz-lists__view-game.cp
        問題一覧

    .game-screen__btn-lists
      .game-screen__btn-lists__tutorial.cp
        ゲーム説明
      .game-screen__btn-lists__easy.cp
        難易度 低
        %br/
        6×6マス
      .game-screen__btn-lists__nomal.cp
        難易度 中
        %br/
        12×12マス
      .game-screen__btn-lists__hard.cp
        難易度 高
        %br/
        18×18マス
        
    .game-screen__author-url
      .game-screen__author-url__twitter.cp
        Twitter
      .game-screen__author-url__blog.cp
        Blog
      .game-screen__author-url__youtube
        YouTube
