.playbackground
  = link_to root_path do
    .playbackground__backbtn
      %i.fas.fa-angle-double-left
      Top Page
  .playbackground__main
    .playbackground__main--board
      %canvas#canvasBoard
    .playbackground__main--boxuji
    .playbackground__main--xuji
  .playbackground__footer
    .playbackground__footer--left
      %button#xujiClearBtn
        %i.fas.fa-backspace
        Clear
      %button#xujiResetBtn
        %i.fas.fa-trash-alt
        Reset
    .playbackground__footer--right
      %button#xujiReturnBtn
        %i.fas.fa-undo
        Return