.playbackground
  .playbackground__main
    .playbackground__main--box
    .playbackground__main--boxuji
    .playbackground__main--xuji
  .playbackground__footer
    .playbackground__footer--left
      %button{id: "xujiResetBtn"} Last Clicked Xuji Reset
      %button{id: "allResetBtn"} All Reset
    .playbackground__footer--right
      %button{id: "xujiReturnBtn"} Last Clicked Xuji Return