.easybackground {
  height: 800px;
  width: 800px;
  position: relative;
  margin: 0 auto;
  line-height: 0;
  box-sizing: border-box;

  .easybackground__board {
    height: 720px;
    width: 720px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .easybackground__box {
    z-index: 5;
    height: 720px;
    width: 720px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .easybackground__line {
    z-index: 10;
    height: 720px;
    width: 720px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .easybackground__xuji {
    z-index: 15;
    height: 720px;
    width: 720px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}