.topbackground {
  height: 100vh;
  width: 100vw;
  background-color: azure;
  position: relative;

  .description-screen {
    display: none;
    height: 600px;
    width: 1000px;
    background-color: white;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border: solid 2px rgb(128, 128, 128);
    position: absolute;
    top: 22%;
    right: 50%;
    transform: translate(50%, 0);
    cursor: pointer;
    .english {
      font-size: 22px;
    }
    .color-red{
      color: red;
    }
  }
  .game-screen {
    width:40%;
    margin: 0 auto;

    a {
      color: white;
      text-decoration: none;
    }

    .game-screen__title {
      text-align: center;
      padding-top: 30px;
      font-weight: bold;
      
      .game-screen__title__english {
        font-size: 70px;
      }
      .game-screen__title__japanese {
        font-size: 45px;
        margin: 20px 0;
      }
    }

    .game-screen__quiz-lists {
      font-size: 35px;
      display: flex;
      justify-content: space-between;
      margin: 40px 0;

      .game-screen__quiz-lists__create-game {
        background-color: #f3b954;
        padding: 10px 30px;
      }
      .game-screen__quiz-lists__created-game {
        background-color: #80d344;
        padding: 10px 30px;
      }
    }

    .game-screen__btn-lists {
      font-size: 35px;
      text-align: center;
      margin: 0 auto;

      .game-screen__btn-lists__description {
        background-color: palevioletred;
        color: white;
        padding: 10px 0;
        margin: 20px 0;
        cursor: pointer;
      }
      .game-screen__btn-lists__easy {
        background-color: #53b1eb;
        padding: 10px 0;
        margin: 20px 0;
      }
      .game-screen__btn-lists__nomal {
        background-color: #538beb;
        padding: 10px 0;
        margin: 20px 0;
      }
      .game-screen__btn-lists__hard {
        background-color: #2348a5;
        padding: 10px 0;
        margin: 20px 0;
      }
      .main {
        font-size: 40px;
        padding-bottom: 15px;
      }
    }
  }
}