
* {
  font-family: 'arial black';
}
.topbackground {
  height: 100vh;
  width: 100vw;
  background-color: azure;
  position: relative;
  font-weight: bold;
  

  .create-screen {
    display: none;
    filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.3));
    z-index: 10;
    height: 600px;
    width: 1000px;
    background-color: white;
    text-align: center;
    border: solid 2px rgb(128, 128, 128);
    position: absolute;
    top: 22%;
    right: 50%;
    transform: translate(50%, 0);
    .question-title {
      color: #f3b954;
      font-size: 30px;
      font-weight: bold;
    }
    .cell-label {
      font-size: 20px;
      font-weight: bold;
      vertical-align: middle;
    }
    .cell-form {
      height: 25px;
      width: 260px;
      font-size: 25px;
    }
    #canvasCellsNum {
      height: 440px;
      width: 1000px;
    }
    .backbtn {
      background-color: rgb(212, 212, 212);
      height: 50px;
      width: 180px;
      font-size: 28px;
      margin-right: 150px;
      outline: 0;
      cursor: pointer;
    }
    .nextbtn {
      background-color: rgb(0, 162, 255);
      color: white;
      height: 50px;
      width: 180px;
      font-size: 28px;
      margin-left: 150px;
      outline: 0;
      cursor: pointer;
    }
    ::before {
      margin-right: 10px;
    }
  }
  .created-screen {
    display: none;
    filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.3));
    z-index: 10;
    height: 600px;
    width: 1000px;
    background-color: white;
    border: solid 2px rgb(128, 128, 128);
    position: absolute;
    top: 22%;
    right: 50%;
    transform: translate(50%, 0);
    box-sizing: border-box;

    .fa-times-circle {
      font-size: 45px;
      color: rgb(128, 128, 128);
      position: absolute;
      top: 0%;
      right: 0%;
      cursor: pointer;
    }
    .created-screen__backbtn :hover {
      color: #69bb2f;
    }
    .created-screen__top {
      height: 80px;
      margin: 15px 0 15px;
      text-align: center;

      .created-screen__top--title {
        color: #69bb2f;
        font-size: 30px;
        font-weight: bold;
      }
      #sortForm {
        margin-top: 15px;

        .sort-label {
          font-size: 20px;
          font-weight: bold;
          vertical-align: middle;
        }
        .sortbtn {
          font-size: 14px;
          font-weight: bold;
          margin: 0 10px 0 12px;
        }
        .sortclearbtn {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
    .created-screen__list {
      height: 480px;

      .created-screen__list--main {
        height: 430px;

        .created-screen__list--main--one {
          height: 50px;
          width: 100%;
          margin-bottom: 38px;

          a {
            height: 60px;
            width: 80%;
            display: flex;
            justify-content: center;
            border: 2px solid rgb(19, 146, 3);
            margin: 5px auto;
            text-decoration: none;
    
            .created-screen__list--main--one--cell {
              width: 15%;
              background-color: #69bb2f;
              color: white;
              font-size: 25px;
              line-height: 60px;
              border-right: 2px solid rgb(19, 146, 3);
              text-align: center;
            }
            .created-screen__list--main--one--title {
              width: 85%;
              background-color: white;
              color: #69bb2f;
              font-size: 20px;
              line-height: 60px;
              padding-left: 10px;
            }
          }
        }
        .created-screen__list--main--one :hover {
          .created-screen__list--main--one--cell {
            opacity: 0.6;
          }
          .created-screen__list--main--one--title {
            opacity: 0.6;
          }
        }
      }
      .pagenate {
        color: #69bb2f;
        height: 50px;
        width: 100%;
        height: 10%;
        
        .pagination {
          display: flex;
          justify-content: center;
          margin-top: 15px;
        }
        
        a {
          color: #69bb2f;
          margin: 0 5px;
        }
        .page {
          padding: 0 5px;
        }
        .current {
          color: rgb(255, 255, 255);
          background-color: rgb(19, 146, 3);
        }
        .page :hover {
          opacity: 0.6;
        }
        .first :hover {
          opacity: 0.6;
        }
        .prev :hover {
          opacity: 0.6;
        }
        .next :hover {
          opacity: 0.6;
        }
        .last :hover {
          opacity: 0.6;
        }
      }
    }
  }
  .description-screen {
    display: none;
    filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.3));
    z-index: 10;
    height: 600px;
    width: 1000px;
    background-color: white;
    color: rgb(140, 140, 140);
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    border: solid 2px rgb(140, 140, 140);
    position: absolute;
    top: 22%;
    right: 50%;
    transform: translate(50%, 0);

    .english {
      font-size: 21px;
    }
    .fa-times-circle {
      font-size: 45px;
      color: rgb(128, 128, 128);
      position: absolute;
      top: 0%;
      right: 0%;
      cursor: pointer;
    }
    .description-screen__backbtn :hover {
      color: rgb(247, 112, 157);
    }
    .descriptiontitle {
      display: inline;
      color: white;
      background-color: rgb(247, 112, 157);
      border: 2px solid rgb(247, 112, 157);
      border-radius: 15px;
      padding: 12px;
    }
    .color-red{
      color: rgb(247, 112, 157);
    }
  }
  .game-screen {
    width:40%;
    margin: 0 auto;
    filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.4));

    &__notice-message {
      height: 30px;
      width: 100vw;
      text-align: center;
      color: rgb(63, 141, 243);
      font-size: 30px;
      line-height: 30px;
      margin: 0 calc(50% - 50vw);
      position: absolute;
      top: 0;
    }

    a {
      color: white;
      text-decoration: none;
    }
    &__title {
      color: rgb(28, 28, 28);
      text-align: center;
      padding-top: 45px;
      font-weight: bold;
      
      &--english {
        font-size: 70px;
        display: flex;
        justify-content: center;
        font-family: 'arial black';
        filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.1));
        
        .english-b {
          margin-top: 30px;
        }
        .english-o {
          font-size: 80px;
          margin: 15px 1px 0 2px;
        }
        .english-x {
          font-size: 90px;
          color: rgb(28, 28, 28);
        }
        .english-u {
          font-size: 80px;
          margin-top: 14px;
        }
        .english-j {
          font-size: 73px;
          margin-top: 22px;
        }
        .english-i {
          margin-top: 30px;
        }
      }
      &--japanese {
        font-size: 45px;
        margin: 10px 0 20px;
        font-family: 'arial black';
      }
    }

    &__quiz-lists {
      font-size: 35px;
      display: flex;
      justify-content: space-between;
      margin: 0px 0 40px;

      &--create-game {
        background-color: #f3b954;
        color: white;
        padding: 10px 30px;
        cursor: pointer;
      }
      &--created-game {
        background-color: #80d344;
        color: white;
        padding: 10px 30px;
        cursor: pointer;
      }
    }

    &__btn-lists {
      font-size: 35px;
      text-align: center;
      margin: 0 auto;

      &--description {
        background-color: palevioletred;
        color: white;
        font-weight: inherit;
        padding: 10px 0;
        margin: 20px 0;
        cursor: pointer;
        
        ::before {
          margin-right: 10px;
        }
      }
      &--easy {
        background-color: #53b1eb;
        padding: 10px 0;
        margin: 20px 0;
      }
      &--nomal {
        background-color: #538beb;
        padding: 10px 0;
        margin: 20px 0;
      }
      &--hard {
        background-color: #2348a5;
        padding: 10px 0;
        margin: 20px 0;
      }
      .main {
        font-size: 40px;
        padding-bottom: 15px;
      }
    }
  }
}