.playbackground {
  line-height: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: rgb(110, 110, 110);

  &__backbtn {
    z-index: 30;
    height: 30px;
    width: 130px;
    background-color: rgb(253, 179, 203);
    color: rgb(253, 117, 181);
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  &__normalbtn {
    display: none;
    z-index: 30;
    height: 30px;
    width: 130px;
    background-color: #538beb;
    color: #2352c9;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    position: absolute;
    top: 70px;
    right: 10px;
    cursor: pointer;
  }

  &__hardbtn {
    display: none;
    z-index: 30;
    height: 30px;
    width: 130px;
    background-color: #2348a5;
    color: #002992;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    position: absolute;
    top: 70px;
    right: 10px;
    cursor: pointer;
  }

  &__hellbtn {
    display: none;
    z-index: 30;
    height: 30px;
    width: 130px;
    background-color: black;
    color: rgb(172, 9, 9);
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    position: absolute;
    top: 70px;
    right: 10px;
    cursor: pointer;
  }

  &__main {
    height: 740px;
    width: 740px;
    position: relative;
    margin: 0 auto;

    &--board {
      z-index: 5;
      height: 720px;
      width: 720px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    &--boxuji {
      z-index: 10;
      height: 720px;
      width: 720px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    &--xuji {
      z-index: 15;
      height: 720px;
      width: 720px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    &--xuji :hover {
      opacity: 0.7;
    }
  }
  &__footer {
    width: 720px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    ::before {
      margin-right: 5px;
    }
    &--left {
      height: 80px;
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-right: 5px;
      #xujiClearBtn {
        height: 39%;
        color: rgb(0, 102, 255);
        background-color: rgb(128, 197, 240);
        font-size: 18px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
      }
      #xujiResetBtn {
        height: 39%;
        color: rgb(255, 140, 0);
        background-color: rgb(255, 220, 0);
        font-size: 18px;
        font-weight: bold;
        outline: none;
        margin-top: 10px;
        cursor: pointer;
      }
    }
    &--right {
      width: 50%;
      margin-left: 5px;
      #xujiReturnBtn {
        height: 90%;
        width: 100%;
        color: rgb(255, 95, 95);
        background-color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: bold;
        outline: 0;
        border-radius: 35px;
        cursor: pointer;
      }
    }
  }
}